<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body style="background-color:lemonchiffon;">
    <div id="alphaBox"style="background-image:url('https://c.tenor.com/DGXZeVfkqbYAAAAd/toy-story-wallpaper.gif');">
      <div class="letterContainer">
        <input class="nput"placeholder="Enter Letter"><button onclick="findCode()">Submit</button>
      </div>
    </div>
    <!-- Kids Hub Application -->
    <div class="flyBuzz">
      <h1>Welcome 2 Kids Hub</h1>
      <img style="position:absolute;"src="https://thumbs.gfycat.com/BeautifulGrossBichonfrise-max-1mb.gif">
      <!--Nav  -->
      <div class="showContainer">
        <button class="shw">Pj Mask</button>
        <button class="shw">Elmo's World</button>
        <button class="shw">Sid Science Kid</button>
        <button class="shw">Avatar</button>
      </div>
    </div>
 <hr>   
   
    
  


    <!-- Features:  -->
      <!-- Children Reference  -->
          <!-- Favorite Shows Tab -->
         
          <!-- Learning Lesson(s) -->
      
      <!-- Care Instructions -->
          <!-- Allergies -->
          <!-- Sleep Schedule -->
          <!-- Essential Information -->
        
      <!-- Receipt Tracker -->
          <!-- Gift Registry -->

      <!-- keyCode Game[s] -->
          <!-- display Letter -->
          <!-- playAudio() -->

          <!-- bubblePop -> animations with onClick(pop()) -->
          <!--  -->

      

</body>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>   
    <script>
      console.log("Linked",$)
      
      const findCode = ()=>{
        letter = $('.nput').val()
        if(letter.length >= 1 ){
          letter = letter[0]
          $('#alphaBox').prepend(`<div style='font-size:64px;text-align:center'> ${letter}</div>`)
        }
        var audio = new Audio('/app/assets/audioFiles/Letter_k.mp3')
          audio.play();
      }


    </script>
  </body>
</html>