<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <img style="height:320px;"src="https://media0.giphy.com/avatars/HeyAutoHQ/DgfrJNR8oUyv.gif">


  
  
    <!-- Kids Hub Application -->


    <!-- Features:  -->


      <!-- Children Reference  -->
          <!-- Favorite Shows Tab -->
          <!-- Learning Lesson(s) -->
      
      <!-- Care Instructions -->
          <!-- Allergies -->
          <!-- Sleep Schedule -->
          <!-- Essential Information -->
        
      <!-- Receipt Tracker -->
          <!-- Gift Registry -->

      <!-- keyCode Game[s] -->
          <!-- display Letter -->
          <!-- playAudio() -->

          <!-- bubblePop -> animations with onClick(pop()) -->
          <!--  -->

      
<div id="alphaBox"style="background-image:url('https://c.tenor.com/DGXZeVfkqbYAAAAd/toy-story-wallpaper.gif');">
 
  <div class="letterContainer">
    <input class="nput"placeholder="Enter Letter"><button onclick="findCode()">Submit</button>
  </div>

<div class="ltr">


</div>




</div>
</body>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>   
    <script>
      console.log("Linked",$)
      
    const letterBlock = (letter) =>{
      $('#alphaBox').append(letter)
      console.log(letter)
    }

    </script>
  </body>
</html>